.contact-header {
    color: white;
    padding-top: 35px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

.form {
    position: relative;
    padding-top: 35px;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 50px;
    flex-grow: 1;
    flex-direction: column;
    row-gap: 30px;
    align-items: flex-end;
}