.action-cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.action-cards-rooms {
    display: flex;
    gap: 20px;
    flex: 1;
}

.action-card,
.date-time-card {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.action-card {
    background-color: #1e1e2d;
    color: white;
    width: 18%;
    background-image: url("https://i.ibb.co/1MB17Pp/corner.png");
    background-size: 70%;
    background-position: top right;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.action-card .icon {
    font-size: 24px;
}

.action-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.action-card p {
    font-size: 14px;
}

.date-time-card {
    background-color: #4caf50;
    color: white;
    width: 30%;
    position: relative;
    right: 25px;
    background-image: url("https://images.unsplash.com/photo-1415604934674-561df9abf539?q=80&w=1380&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: 55%;
    background-position: center right;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.date-time-card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 50, 0, 0.9);
    border-radius: 10px;
}

/* Ensure content is above the overlay */
.date-time-card h2,
.date-time-card p,
.date-time-card .calendar-icon {
    position: relative;
    z-index: 1;
}

.date-time-card p {
    font-size: 16px;
    font-weight: 600;
}

.date-time-card .calendar-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding-left: 5px;
    font-size: 36px;
}

.public-rooms h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.subjects {
    margin-bottom: 20px;
}

.subjects h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.subject-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.subject-tag {
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
}

.see-all {
    color: #1e1e2d;
    font-size: 14px;
    float: right;
    margin-top: 10px;
}

/* .group-cards {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-bottom: 20px;
} */

.group-cards-new {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 20px;
}

.group-card {
    background-color: #ff7f50;
    padding: 20px;
    border-radius: 10px;
    min-width: 250px;
    color: white;
}

.group-card h3 {
    margin-bottom: 10px;
}

.group-card p {
    margin-bottom: 15px;
    font-size: 14px;
}

.group-card button {
    background-color: #1e1e2d;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}



/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    .action-cards {
        flex-direction: column-reverse;
    }

    .action-card {
        width: 100%;
    }

    .date-time-card {
        width: 100%;
        position: relative;
        right: 0px;
    }
}

@media screen and (max-width: 480px) {
    .subjects h3 {
        font-size: 16px;
    }

    .subject-tag {
        font-size: 12px;
    }

    .see-all {
        font-size: 14px;
    }

    .group-card button {
        font-size: 14px;
    }
}